.account-wrapper {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1rem;
}

.btn-primary {
    background-color: #2b6777;
}

.btn-primary:hover {
    background-color: #21515e;
}

h1 {
    text-align: center;
    margin-top: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

h2, h3, h4, h5, h6, {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

.navbar-brand {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

body {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    font-size: 0.88rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: left;
}

i {
    font-style: italic;
}


.container{
    margin-top:100px;
}

.card {
    box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
    border-width: 0;
    transition: all .2s;
}

.card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-header {
    display: flex;
    align-items: center;
    border-bottom-width: 1px;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0.625rem;
    height: 3.5rem;
    background-color: #fff;
}
.widget-subheading{
    color: #858a8e;
    font-size: 10px;
}
.card-header.card-header-tab .card-header-title {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.card-header .header-icon {
    font-size: 1.65rem;
    margin-right: 0.625rem;
}

.card-header.card-header-tab .card-header-title {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.btn-actions-pane-right {
    margin-left: auto;
    white-space: nowrap;
}

.text-capitalize {
    text-transform: capitalize !important;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.list-group-item:hover {
    background-color: #F5F5F5;
}

.list-group {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
}

.todo-indicator {
    position: absolute;
    width: 4px;
    height: 60%;
    border-radius: 0.3rem;
    left: 0.625rem;
    top: 20%;
    opacity: .6;
    transition: opacity .2s;
}

.bg-warning {
    background-color: black !important;
}

.widget-content {
    padding: 1rem;
    flex-direction: row;
    align-items: center;
}

.widget-content .widget-content-wrapper {
    display: flex;
    flex: 1;
    position: relative;
    align-items: center;
}

.widget-content .widget-content-right {
    margin-left: auto;
}

#baseTwo input { border:0px; }
#baseTwo input:focus { outline: 0; }

.list-list {
    margin: 6vw;
    margin-top: 2rem;
}

.completed {
	opacity: .5;
	text-decoration: line-through;
}

#newtask:focus, #newtask:focus{
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

form {
    display: flex;
}

.widget-content-left {
    margin-left: 1rem;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

@media (min-width:320px)  {
    .right-accessories {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-end;
    }
    .star {
        width: 5vw;
        vertical-align: baseline;
    }
    .pencil {
        width: 3vw;
        height: 3vw;
    }
    .widget-heading {
        font-family: 'Montserrat', sans-serif;
        font-weight: 900;
        font-size: 6.5vw;
    }
    .widget-task  {
        font-family: 'Montserrat', sans-serif;
        font-weight: 900;
        font-size: 3vw;
        color: #495057;
    }
}

@media (min-width:1025px) {
     /* big landscape tablets, laptops, and desktops */
     .right-accessories {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    .star {
        width: 2vw;
        vertical-align: baseline;
    }
    .widget-heading {
        font-family: 'Montserrat', sans-serif;
        font-weight: 900;
        font-size: 2vw;
    }
    .pencil {
        width: 1vw;
        height: 1vw;
    }
    .widget-task {
        font-family: 'Montserrat', sans-serif;
        font-weight: 900;
        font-size: 1.2vw;
        color: #495057;
    }

}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }
