{% extends "accounts/layout.html" %}

{% block body %}
<div style="padding: 2em" data-theme="dark">
    {% for message in messages %}
        <div class="alert alert-primary">
            {{ message }}
        </div>
    {% endfor %}
    <h3><strong>Tasks</strong></h3>
    <table>
            <tr>
                <div class="form-wrapper">
                    <form action="{% url 'createNewTask' %}" method="POST">
                        {% csrf_token %}
                        <input autocomplete="off" style="font-size: 24px; height: auto; padding: 0;" name="task" type="text" placeholder="New task"/>
                        <input style="padding: 0px;" type="submit" hidden />
                    </form>
                    <hr>
                </div>
            </tr>
            {% for task in tasks %}
            <tr>
                <a href="{% url 'completeTask' task.id %}" style="text-decoration: none;" data-theme="dark">
                    <div class="task-wrapper" id="{{ task.id }}.taskDiv" style="padding-top: .5em; padding-bottom: .5em;">
                        {% if task.complete %}
                        <div style="text-decoration: line-through; margin: 0px;
                        padding: 0px;" data-theme="light">
                                ☒
                                {{ task.task }}
                                <strong>{{ task.user }}</strong>
                                {{ task.completedBy }}
                                <a href="{% url 'removeTask' task.id %}" style="text-decoration: none; float: right;" data-theme="dark">
                                    x
                                </a>
                        </div>
                        {% else %}
                            <div id="{{ task.id }}.title">
                                ☐
                                {{ task.task }}
                                <strong>({{ task.user }})</strong>
                                <a href="{% url 'removeTask' task.id %}" style="text-decoration: none; float: right;" data-theme="dark">✗</a>

                                <a class="edit" id="{{ task.id }}" style="float:right; padding-right: 10px;text-decoration: none;" data-theme="dark">✎</a>
                            </div>
                        {% endif %}
                    </div>
                </a>
                <hr>
            </tr>
            {% empty %}
            <h3>No tasks</h3>
            {% endfor %}
    </table>
</div>

<script>
    function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');

    const edits = document.querySelectorAll('.edit');
    document.addEventListener('click', e => {
        for (let i = 0; i < edits.length; i++) {
            if (e.target.id === edits[i].id) {
                const editID = (e.target.id);
                var url = `http://127.0.0.1:8000/task-detail/${editID}/`
                fetch(url)
                    .then(response => response.json())
                    .then(data => {
                        var form = `
                        <div class="task-wrapper" id="${data.id}.task.Div" style="padding-top: .75em; padding-bottom: 0em;">
                            <form method="POST">
                                {% csrf_token %}
                                <input autocomplete="off" style="height: auto; padding: 0; margin:0" id="editField" name="task" type="text" value="${data.task}"/>
                                <input style="padding: 0px;" type="submit"/>
                            </form>
                        </div>`
                        document.getElementById(`${data.id}.taskDiv`).outerHTML = form;
                    });
            }
        }
    })
</script>

{% endblock %}