{% extends "accounts/layout.html" %}
{% load static %}

{% block body %}
<div style="padding: 2em" data-theme="dark">
    {% for message in messages %}
        <div class="alert alert-primary">
            {{ message }}
        </div>
    {% endfor %}
    <h3><strong>Tasks</strong></h3>
    <table>
            <tr>
                <div class="form-wrapper">
                    <input autocomplete="off" style="font-size: 24px; height: auto; padding: 0;" name="task" type="text" placeholder="New task"/>
                    <input style="padding: 0px;" type="submit" hidden />
                    <hr>
                </div>
            </tr>
            {% for task in tasks %}
            <tr>
                <div class="task-wrapper" id="{{ task.id }}.taskDiv" style="padding-top: .5em; padding-bottom: .5em;">
                        {% if task.complete %}
                        <div style="text-decoration: line-through; margin: 0px;
                        padding: 0px;" data-theme="light">
                                ☒
                                {{ task.task }}
                                <strong>{{ task.user }}</strong>
                                {{ task.completedBy }}
                                ✗
                        </div>
                        {% else %}
                            <div id="{{ task.id }}.title">
                                ☐
                                {{ task.task }}
                                <strong>({{ task.user }})</strong>
                                ✗ ✎
                            </div>
                        {% endif %}
                    </div>
                </a>
                <hr>
            </tr>
            {% empty %}
            <h3>No tasks</h3>
            {% endfor %}
    </table>
</div>

{% endblock %}

{% block script %}
    <script src="{% static 'accounts/todo.js' %}"></script>
{% endblock %}