{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>OurTodos</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
        <link rel="stylesheet" href="{% static 'accounts/stylesheet.css' %}">
    </head>
    <body data-theme="light">
        <nav class="container-fluid" style="background-color: #0eaaaa">
            <ul>
            <!-- <li><a href="#" class="secondary">…</a></li> -->
            </ul>
            <ul>
            <li><span style="color:aliceblue"><strong>OurToDos</strong></span></li>
            </ul>
            <ul>
            <!-- <li><a href="#" class="secondary">…</a></li> -->
            </ul>
        </nav>
        {% block body %}
        {% endblock %}
    </body>
</html>