{% extends "accounts/layout.html" %}

{% block body %}
<div style="padding: 2em" data-theme="dark">
    {% for message in messages %}
        <div class="alert alert-primary">
            {{ message }}
        </div>
    {% endfor %}
    <h3><strong>Tasks</strong></h3>
        <table>
            {% for task in tasks %}
            <tr>
                <a href="{% url 'completeTask' task.id %}" style="text-decoration: none;" data-theme="dark">
                    <div class="form-check">
                        {% if task.complete %}
                        <div style="text-decoration: line-through; margin: 0px;
                        padding: 0px;" data-theme="light">
                                ☒
                                {{ task.task }}
                                <strong>{{ task.user }}</strong>
                                {{ task.completedBy }}
                                <a href="{% url 'removeTask' task.id %}" style="text-decoration: none; float: right;" data-theme="dark">
                                    x
                                </a>
                        </div>
                        {% else %}
                            ☐
                            {{ task.task }}
                            <strong>({{ task.user }})</strong>
                            <a href="{% url 'removeTask' task.id %}" style="text-decoration: none; float: right;" data-theme="dark">✗</a>
                            <a class="edit" style="float:right; padding-right: 10px;text-decoration: none;" data-theme="dark">✎</a>
                        {% endif %}
                    </div>
                </a>
                <hr>
            </tr>
            {% empty %}
            <h3>No tasks</h3>
            {% endfor %}
            <tr>
                <input type="text" placeholder="New task"/>
            </tr>
            </tr>
    </table>

</div>

{% endblock %}