{% extends "accounts/layout.html" %}

{% block body %}
<div style="padding: 2em">
    {% for message in messages %}
        <div class="alert alert-primary">
            {{ message }}
        </div>
    {% endfor %}
    <h3><strong>Tasks</strong></h3>

        <table>
            {% for task in tasks %}
            <tr>
                <a href="{% url 'completeTask' task.id %}" style="text-decoration: none; color: black">
                    <div class="form-check">
                        {% if task.complete %}
                        <div style="text-decoration: line-through; color: darkgray">
                                ✅
                                {{ task.task }}
                                <strong>{{ task.user }}</strong>
                                {{ task.compltedBy }}
                        </div>
                        {% else %}
                            ⚫
                            {{ task.task }}
                            <strong>{{ task.user }}</strong>
                        {% endif %}
                    </div>
                </a>
                <hr>
            </tr>
            {% empty %}
                <h3>No tasks</h3>
            {% endfor %}
            </tr>
    </table>
    
</div>

{% endblock %}