input {border:0;outline:0;}
input:focus {
    outline:none!important;
    border: none; 
    border-width: 0; 
    box-shadow: none;
}

a {
    color: whitesmoke;
    text-decoration: none; /* no underline */
  }