{% extends "ourtodos/layout.html" %}
{% block body %}
<div style=" margin: auto;width: 30%;display: block; font-size: 16px; padding-top: 100px">
<pre>
    \                           /
     \          404            /
      \    Page not Found     /
       ]     <a style="color: black" href="{% url 'index' %}">Return...</a>       [
       ]                     [
       ]___               ___[
       ]  ]\             /[  [
       ]  ] \           / [  [
       ]  ]  ]         [  [  [
       ]  ]  ]__     __[  [  [
       ]  ]  ] ]\ _ /[ [  [  [
       ]  ]  ] ] (#) [ [  [  [
       ]  ]  ]_].nHn.[_[  [  [
       ]  ]  ]  HHHHH. [  [  [
       ]  ] /   `HH("N  \ [  [
       ]__]/     HHH  "  \[__[
       ]         NNN         [
       ]         N/"         [
       ]         N H         [
      /          N            \
     /           q,            \
    /                           \
</pre>
</div>
{% endblock %}