{% extends "ourtodos/layout.html" %}

{% block body %}

<h1>Register</h1>

    {% if message %}
    <div>{{ message }}</div>
    {% endif %}

    <div class="account-wrapper">
        <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
            <div class="form-group container-fluid">
                <input style="border: 0; outline: 0; background: transparent;border-bottom: 1px solid darkgrey; width: 100%;" class="form-control" autofocus type="text" name="username" placeholder="Username">
                <input style="border: 0; outline: 0; background: transparent;border-bottom: 1px solid darkgrey; width: 100%; margin-top: 1rem" class="form-control" type="email" name="email" placeholder="Email Address">
                <input style="border: 0; outline: 0; background: transparent;border-bottom: 1px solid darkgrey; width: 100%; margin-top: 1rem" class="form-control" type="password" name="password" placeholder="Password">
                <input style="border: 0; outline: 0; background: transparent;border-bottom: 1px solid darkgrey; width: 100%; margin-top: 1rem" class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
                <div class="d-grid gap-2" style="padding-top: 1rem">
                    <input class="btn btn-primary" type="submit" value="Register">
                </div>
        </form>

        <div style="margin-top: 2rem">
            Already have an account? <a href="{% url 'login' %}">Log In here.</a>
        </div>
    </div>

{% endblock %}